@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap");
html {
  direction: rtl;
}
body {
  background: linear-gradient(90deg, #1b699e 0%, #36b9a9 100%);
  color: #fff;
  font-family: "IBM Plex Sans Arabic";
  background: red;
}
#root {
  width: 100%;
  /* height: 100vh; */
}
.app {
  width: 90% !important;
  margin: 0 auto !important;
}
.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  color: #fff !important;
  border: #ffffff52 solid 0.01px !important;
}
.css-113d811-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}
.css-1iw3t7y-MuiFormControl-root {
  background: transparent !important;
}
.css-lohd6h-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff !important;
}
.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.cards {
  display: grid !important;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
  
}
.card {
  box-shadow: 0 0px 10px 0 #ffffff52 !important;
  color: #fff !important;
  background: transparent !important;
}
/* the time in card prayer  */
.css-9p36bk-MuiTypography-root {
  text-align: center;
  color: #fff !important;
  text-shadow: 2px 1px 7px rgba(0, 255, 255, 0.269) !important;
}

.select {
  background: #fff;
  width: 25rem;
}
.selecters {
  display: flex;
  margin: 1rem 0;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 1rem 1rem;
}
.css-163ljxj-MuiStack-root {
  margin: 0rem !important;
}
.MuiFormControl-root select,
.css-1iw3t7y-MuiFormControl-root {
  width: 15rem;
}
.MuiStack-root,
.css-dvxtzn {
  margin: 0rem !important;
}
/* for tablet  */
@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 778px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    text-align: center;
  }
}

.css-1lt5qva-MuiCardContent-root {
  padding: 5px !important;
}
@media screen and (max-width: 600px) {
  .cards{
    justify-items: center !important;

  }
  .card {
    box-shadow: 0 0px 10px 0 #ffffff52 !important;
    color: #fff !important;
    background: transparent !important;
    height: 11.2rem;
    width: 11.2rem;
    border-radius: 6660px !important;
  }

  .css-1lt5qva-MuiCardContent-root {
    padding: 5px !important;
  }
  /* the time in card prayer  */
  .css-9p36bk-MuiTypography-root {
    font-size: 1.8rem !important;
    margin-bottom: 2rem !important;
  }
  .header {
    grid-template-columns: 1fr;
    text-align: center;
    margin: 0.2rem 0 1.4rem;
  }
  .MuiCardContent-root {
    padding: 0px !important;
  }
  h1 {
    font-size: 1.7rem !important;
  }
  h2 {
    font-size: 1.3rem !important;
  }
  h3 {
    margin: 0.7rem 0;
  }
  .header_left {
  }
  .css-e6d8v3-MuiCardMedia-root {
    height: 85px !important;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
  }
  .select {
    width: 15rem;
  }
  .selecters {
    flex-direction: column;
    margin: 0.7rem 0;
    gap: 0.6rem;
  }
}
@media screen and (max-width:390px) {
  .card {
    height: 10.88rem;
    width: 10.88rem;
  }

}
@media screen and (max-width:375px) {
  .card {
    height: 10.4rem;
    width: 10.4rem;
  }
  .css-e6d8v3-MuiCardMedia-root {
    height: 80px !important;
  }
    /* the time in card prayer  */
    .css-9p36bk-MuiTypography-root {
      font-size: 1.6rem !important;
    }
}
